form {
    margin: auto;
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
}
input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}
button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #45a049;
}
div {
    margin-top: 20px;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
* { margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}
 
body header {
    width: 100%;
     display: block;
}

body header .header-area {
    padding: 15px 0px;
    background: #EEEEEE;
    border-bottom: 1px;
}

body header .header-area .container {
    max-width: 1000px;
    padding: 0px 15px;
    height: 10px;
    margin: auto; 
}

header .flex-contact ul {
    list-style: none;
}

header .flex-contact ul {
    float: right;

}

body header .header-area .container .flex-contact ul {
    display: flex;
    align-items: center;
}

body header .header-area .container .flex-contact ul a {
    margin-right: 45px;
    list-style-type: none;
    text-decoration: none;
    line-height: 10px;
}

nav .container {
    max-width: 1140;
    height: 65px;
    background: white;
    border: 1px solid #aeaeae; 
    padding: auto;
    display: flex;
    align-items: center;
}
nav .container .menu {
    flex: 3;
    padding: 0px;
    margin: 60px;
    list-style: none;
   

}
nav .container .logo {
    margin-left: 5px;
     
 }
nav .container .menu ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    
}

nav .container .menu ul li { 
    display:inline-block;

    

}
nav .container .menu ul li {
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 0px 15px;
}
nav .container .search {
    margin-right: 80px;
    
}